<h3>DoggyRescue</h3>
<p>DoggyRescue is a non-profit organization which was founded in 2023.</p>
<p>Our main goal is to help abandoned dogs to find the best family for them.</p>
<p>DoggyRescue is made up of volunteers and collaborators and our funding comes
  from donations.</p>
<p>You may also want to visit us on Saturday or Sunday from 10 until 15:</p>
<address>
  Doggy Rescue<br />
  Victoria Street<br />
  28033 Madrid, Spain
</address>