<h3>Add a New Dog to the Database</h3>

{{! action - Specifies where to send the form-data when a form is submitted }}
{{! method - Specifies the HTTP method to use when sending form-data }}

<form action="/create-new-dog" method="POST" enctype="multipart/form-data">

  <div>
    <label for="dogName">Dog Name</label>
    <input type="text" id="dogName" name="dogName" />
  </div>

  <div>
    <label for="dogAge">Dog Age (in years)</label>
    <input type="number" id="dogAge" name="dogAge" min="0" step="0.1" />
  </div>

  <div>
    <label for="dogWeight">Dog Weight (in kilos)</label>
    <input type="number" id="dogWeight" name="dogWeight" min="0" step="0.1" />
  </div>

  <div>
    <label for="dogSex">Dog Sex</label>
    <select id="dogSex" name="dogSex">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <div>
    <label for="dogBreed">Dog Breed</label>
    <input type="text" id="dogBreed" name="dogBreed" />
  </div>

  <div>
    <label for="dogAdopted">Has the dog been adopted?</label>
    <input type="checkbox" id="dogAdopted" name="dogAdopted" />
  </div>

  <div>
    <label for="suitableForKids">Is this dog suitable for kids?</label>
    <input type="checkbox" id="suitableForKids" name="suitableForKids" />
  </div>

  <div>
    <label for="suitableForOtherPets">Is this dog suitable for other pets?</label>
    <input
      type="checkbox"
      id="suitableForOtherPets"
      name="suitableForOtherPets"
    />
  </div>

  <div>
    <label for="dogDescription">Dog Description</label>
    <textarea
      id="dogDescription"
      name="dogDescription"
      cols="70"
      rows="5"
      placeholder="How is the dog?"
    ></textarea>
  </div>

  <div>
    <label for="potentiallyDangerousDog">Is this dog potentially dangerous?</label>
    <input
      type="checkbox"
      id="potentiallyDangerousDog"
      name="potentiallyDangerousDog"
    />
  </div>

  <div>
    <label for="isVaccinated">Is this dog fully vaccinated?</label>
    <input type="checkbox" id="isVaccinated" name="isVaccinated" />
  </div>

  <div>
    <label for="isSterilized">Is this dog sterilized?</label>
    <input type="checkbox" id="isSterilized" name="isSterilized" />
  </div>

  <div>
    <label for="dogPhotoURL">Dog Photo</label>
    <input type="file" id="dogPhotoURL" name="dogPhotoURL" />
  </div>

  <button type="submit">Add new dog</button>

</form>

{{! If you want a simple, vertically stacked form, 
<br> might be sufficient. If you want more structure and control over styling, 
using <div> containers might be a better choice. }}